<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="public/css/stylesheet.css">
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="apple-touch-icon" href="http://s1.meituan.net/img/apple-touch-icon-ipad.png?v=1"/>
        <title>auto update from pocket | SKing</title>
    </head>
    <body>
        <div id="header_wrap" class="outer container cf">
            <header class="inner">
                <h1 id="project_title"><a href="https://github.com/SKing7" target="_blank">黑色幽默</a></h1>
            </header>
            <div class="search-box">
                <input type="search" id="jetsSearch" placeholder="search title"/>
            </div>
        </div>
        <!-- MAIN CONTENT -->
        <ul id="main_content_wrap" class="outer container">
