html, body {
  background: #f1f1f1;
}
.mt-10 {
  margin-top: 10px;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.mr-5 {
  margin-right: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
header.nav {
  height: 54px;
  margin: 0 -15px;
  padding: 0 15px;
  background: #333;
  color: #fff;
}
header.nav h1 {
  margin: 0;
  padding: 15px; 
  font-size: 16px;
}
